{% extends "master.html" %}
{% load static %}

{% block title %}
  Projects | Details
{% endblock %}


{% block content %}
<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col">
      <h1>Projects</h1>
      <form action="{% url 'projectsadd' %}" method="post" class="border border-dark" id="salesForm">
        {%csrf_token%}
        <table class="table table-borderless" style="border: none;">
          <tr>
            <td>
              <a href="{% url 'projectsedit' projects.id %}" class="btn btn-secondary">Edit</button>
              <a href="{% url 'projectsdelete' projects.id %}" class="btn btn-danger">Delete</button>
            </td>
          </tr>
          <tr>
            <h1>
            <td colspan="2">
                <input type="text" class="form-control" placeholder="Project Name" name="project_name" value="{{projects.name}}" style="border-top:0px;border-left: 0px;border-right: 0px;" readonly>
            </td>
            </h1>
          </tr>
          <tr>
            <td>
              <!-- Add buttons to switch between Settings and Description -->
              <button type="button" id="settingsButton" class="btn btn-secondary">Settings</button>
              <button type="button" id="descriptionButton" class="btn btn-secondary">Descriptions</button>
              <button type="button" id="tenantsButton" class="btn btn-secondary">Tenants</button>
            </td>
          </tr>
          <tr>
            <td>
              <div id="settings">
                <table class="table table-borderless">
                  <tr>
                    <td><label>Project Manager</label></td>
                    <td>
                      <select class="form-control" id="exampleFormControlSelect1" name="project_manager" disabled>
                        {% for user in internal_users %}
                          {% if user.id == projects.project_manager.id %}
                            <option value="{{ user.id }}" data-email="{{ user.email }}" selected>{{ user.name }}</option>
                          {% else %}
                            <option value="{{ user.id }}" data-email="{{ user.email }}">{{ user.name }}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td><label>Project Manager's Email</label></td>
                    <td><input type="email" class="form-control" id="project_manager_email" name="project_manager_email" value="{{projects.project_manager_email}}" readonly></td>
                  </tr>
                </table>
              </div>
              <div id="description" style="display: none;">
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Description</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="project_description" disabled>{{projects.project_description}}</textarea>
                </div>
              </div>
              <div id="tenants" style="display: none;">
                <table class="table table-sm">
                  <thead>
                    <tr>
                      <th scope="col">Customer</th>
                      <th scope="col">Sales Ref</th>
                      <!-- <th scope="col">Actions</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    {% for sales in sales_data %}
                    <tr>
                      <td>{{ sales.contacts.name }}</a></td>
                      <td><a href="{% url 'salesdetail' sales.id %}">{{ sales.name }}</a></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
      const settingsButton = document.getElementById('settingsButton');
      const descriptionButton = document.getElementById('descriptionButton');
      const tenantsButton = document.getElementById('tenantsButton');
      const settingsDiv = document.getElementById('settings');
      const descriptionDiv = document.getElementById('description');
      const tenantsDiv = document.getElementById('tenants');
      const projectManagerSelect = document.getElementById('exampleFormControlSelect1');
      const projectManagerEmail = document.getElementById('project_manager_email');

  
      function toggleActiveButton(activeButton, inactiveButton, secondinactiveButton) {
          activeButton.classList.remove('btn-secondary');
          activeButton.classList.add('btn-primary');
          inactiveButton.classList.remove('btn-primary');
          inactiveButton.classList.add('btn-secondary');
          secondinactiveButton.classList.remove('btn-primary')
          secondinactiveButton.classList.add('btn-secondary')
      }
  
      settingsButton.addEventListener('click', function () {
          settingsDiv.style.display = 'block';
          descriptionDiv.style.display = 'none';
          tenantsDiv.style.display = 'none';
          toggleActiveButton(settingsButton, descriptionButton, tenantsButton);
      });
  
      descriptionButton.addEventListener('click', function () {
          settingsDiv.style.display = 'none';
          descriptionDiv.style.display = 'block';
          tenantsDiv.style.display = 'none';
          toggleActiveButton(descriptionButton, settingsButton, tenantsButton);
      });

      tenantsButton.addEventListener('click', function () {
          settingsDiv.style.display = 'none';
          descriptionDiv.style.display = 'none';
          tenantsDiv.style.display = 'block';
          toggleActiveButton(tenantsButton, settingsButton, descriptionButton);
      });
      
      projectManagerSelect.addEventListener('change', function () {
          const selectedOption = projectManagerSelect.options[projectManagerSelect.selectedIndex];
          const email = selectedOption.getAttribute('data-email');
          projectManagerEmail.value = email;
      });

      // Trigger the click event on settingsButton to show settingsDiv by default if needed
      settingsButton.click();
  });
</script>
{% endblock %}